/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0 auto;
  max-width: 1280px;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.header {
  z-index: 10;
  position: relative;
  &__container {
    position: absolute;
    max-width: 1200px;
  }

  &__content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding-top: 40px;
    padding-left: 40px;
  }

  &__logo {
  }

  &__nav {
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
    padding-bottom: 3px;
  }

  &__link:hover {
    border-bottom: 3px solid #f1cdb3;
  }
}
.logo-text {
  &__up {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    color: #f1cdb3;
  }

  &__down {
    padding-top: 10px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
}

.hero {
  background: url("../img/background.jpg") no-repeat;
  min-height: 100vh;
  &__container {
    max-width: 1200px;
  }

  &__block {
    padding-top: 343px;
    padding-left: 40px;
    max-width: 500px;
  }

  &__title {
    max-width: 310px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #ffffff;
  }

  &__subtitle {
    max-width: 460px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
    padding-top: 42px;
  }

  &__button {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    gap: 10px;
    width: 207px;
    height: 52px;
    background: #f1cdb3;
    border-radius: 100px;
  }

  &__button:hover {
    transform: scale(1.1, 1.1);
    transition: all ease 0.5s;
  }
}
.button {
  cursor: pointer;
}

.about {
  &__container {
    max-width: 1200px;
  }

  &__content {
    display: flex;
    margin-top: 80px;
    margin-bottom: 100px;
    padding-left: 14%;
    padding-right: 14%;
  }

  &__left {
    width: 300px;
    margin-right: 120px;
  }

  &__right {
    width: 430px;
  }
  &__title {
    color: #4c4c4c;
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: left;
  }

  &__paragraph {
    margin-top: 25px;
    color: #4c4c4c;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
}
